@page "{id}"
@model WebApplication2.Pages.Users.EditModel
@{
}
<form class="row" method="post">
    <div class="col-6">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="col-6">
        <label asp-for="Family"></label>
        <input asp-for="Family" class="form-control" />
    </div>
    <div class="col-6">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form> 